<div class="container">
    <h1>Timesheet Submission</h1>
    <div class="form" id="form">
        <form [formGroup]="timesheetForm">
            <div class="form-group">
                <label for="siteCode">Site Code</label>
                <input class="form-control" id="siteCode" type="text" formControlName="siteCode" required>
            </div>
            <div class="form-group">
                <label for="contractor">Contractor</label>
                <input class="form-control" id="contractor" type="text" formControlName="contractor" required>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input class="form-control" id="date" type="text" formControlName="date" required>
            </div>
            <style>
                #labor {
                    display: flex;
                }
                #labor div {
                    align-items: left;
                    margin: 20px;
                    width: 100%;
                }
            </style>
            <h3>Labor Entry</h3>
            <!-- Jobs -->
            <div class="form-group" id="labor">
                <div class="d-flex flex-column">
                    <h4>Job One</h4>
                    <select ng-model="jobOneCode" formControlName="jobOneCode">
                        <option [ngValue]="timesheetForm.get('jobOneCode')" disabled>Code</option>
                        <option *ngFor="let code of jobs" [ngValue]="code">{{code}}</option>
                    </select>
                    <label for="jobOneHours">Hours Worked</label>
                    <input class="form-control" id="jobOneHours" type="number" formControlName="jobOneHours">
                    &nbsp;
                </div>
                <div class="d-flex flex-column">
                    <h4>Job Two</h4>
                    <select ng-model="jobTwoCode" formControlName="jobTwoCode">
                        <option [ngValue]="timesheetForm.get('jobTwoCode')" disabled>Code</option>
                        <option *ngFor="let code of jobs" [ngValue]="code">{{code}}</option>
                    </select>
                    <label for="jobTwoHours">Hours Worked</label>
                    <input class="form-control" id="jobTwoHours" type="number" formControlName="jobTwoHours">
                    &nbsp;
                </div>
                <div class="d-flex flex-column">
                    <h4>Job Three</h4>
                    <select ng-model="jobThreeCode" formControlName="jobThreeCode">
                        <option [ngValue]="timesheetForm.get('jobThreeCode')" disabled>Code</option>
                         <option *ngFor="let code of jobs" [ngValue]="code">{{code}}</option>
                    </select>
                    <label for="jobThreeHours">Hours Worked</label>
                    <input class="form-control" id="jobThreeHours" type="number" formControlName="jobThreeHours">
                </div>
            </div>
            <!-- Machines -->
            <div class="form-group" id="labor">
                <div class="d-flex flex-column">
                    <h4>Machine One</h4>
                    <select ng-model="machineOneCode" formControlName="machineOneCode">
                        <option [ngValue]="timesheetForm.get('machineOneCode')" disabled>Code</option>
                        <option *ngFor="let code of machines" [ngValue]="code">{{code}}</option>
                    </select>
                    <label for="machineOneHours">Hours Used</label>
                    <input class="form-control" id="machineOneHours" type="number" formControlName="machineOneHours">
                    &nbsp;
                </div>
                <div class="d-flex flex-column">
                    <h4>Machine Two</h4>
                    <select ng-model="machineTwoCode" formControlName="machineTwoCode">
                        <option [ngValue]="timesheetForm.get('machineTwoCode')" disabled>Code</option>
                        <option *ngFor="let code of machines" [ngValue]="code">{{code}}</option>
                    </select>
                    <label for="machineTwoHours">Hours Used</label>
                    <input class="form-control" id="machineTwoHours" type="number" formControlName="machineTwoHours">
                    &nbsp;
                </div>
                <div class="d-flex flex-column">
                    <h4>Machine Three</h4>
                    <select ng-model="machineThreeCode" formControlName="machineThreeCode">
                        <option [ngValue]="timesheetForm.get('machineThreeCode')" disabled>Code</option>
                        <option *ngFor="let code of machines" [ngValue]="code">{{code}}</option>
                    </select>
                    <label for="machineThreeHours">Hours Used</label>
                    <input class="form-control" id="machineThreeHours" type="number" formControlName="machineThreeHours">
                </div>
            </div>
        </form>
    </div>
    <div class="float-end">
        <button class="btn btn-success" (click)="onSubmit()">Submit</button>
        &nbsp;
        <button class="btn btn-danger" (click)="clearForm()">Clear</button>
    </div>
</div>
