<div class="container">
    <h1>Disaster Recovery Timesheet Approvals</h1>
    <button class="btn btn-primary" (click)="refresh()">Refresh</button>
    <!-- Data table -->
    <table *ngIf="rawTimesheets.length != 0; else noTable" class="table table-dark">
        <thead>
            <tr>
                <td>Id</td>
                <td>Contractor</td>
                <td>Site Code</td>
                <!-- <td>Jobs and Machines</td> -->
                <td>Total Hours Worked</td>
                <td>Total Cost</td>
                <td>Status</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let timesheet of rawTimesheets;
                                let o = odd;
                                let e = even;" [ngClass]="{ 'odd-line': o, 'even-line': e}">
                <td>{{timesheet.id}}</td>
                <td>{{timesheet.contractorName}}</td>
                <td>{{timesheet.siteCode}}</td>
                <!-- <td>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <td>Code</td>
                                <td>Hours Worked</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let job of timesheet.siteObject;">
                                <td>{{job.code}}</td>
                                <td>{{job.hoursWorked}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td> -->
                <td>{{getTotalHours(timesheet.id)}}</td>
                <td>{{getTotalCost(timesheet.id) | currency}}</td>
                <td>{{timesheet.status}}</td>
                <td>
                    <button class="btn btn-success" (click)="approve(timesheet.id)">Approve</button>
                    &nbsp;
                    <button class="btn btn-danger" (click)="deny(timesheet.id)">Deny</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noTable>
        No timesheets found!
    </ng-template>
</div>