<div class="container">
    <button class="btn btn-primary" (click)="refresh()">Refresh</button>
    <div class="float-end">
        <button class="btn btn-success" (click)="openForm()">Add +</button>
    </div>
    <table *ngIf="objects.length != 0; else noTable" class="table table-dark">
        <thead>
            <tr>
                <td>Code</td>
                <td>Type</td>
                <td>Description</td>
                <td>Hourly Rate</td>
                <td>Max Hours Per-Day</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obj of objects;
                                let o = odd;
                                let e = even;" [ngClass]="{ 'odd-line': o, 'even-line': e}">
                <td>{{obj.code}}</td>
                <td>{{obj.type}}</td>
                <td>{{obj.description}}</td>
                <td>{{obj.hourlyRate}}</td>
                <td>{{obj.maxHoursPerDay}}</td>
                <td>
                    <button class="btn btn-warning" (click)="edit(obj.code)">Edit</button>
                    &nbsp;
                    <button class="btn btn-danger" (click)="delete(obj.code)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noTable>
        No site objects found!
    </ng-template>
    <div class="form" id="form">
        <form [formGroup]="timesheetForm" (ngSubmit)="onSubmit()" class="bg-light">
            <h2>Add a new site object</h2>
            <div class="form-group">
                <label for="code">Code</label>
                <input class="form-control" id="code" type="text" formControlName="code" required>
            </div>
            &nbsp;
            <div class="form-group">
                <label for="type">Type</label>
                <select name="type" class="form-select" formControlName="type" required>
                    <option name="machine">Machine</option>
                    <option name="job">Job</option>
                </select>
            </div>
            &nbsp;
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" id="description" type="text" formControlName="description" required>
            </div>
            &nbsp;
            <div class="form-group">
                <label for="hourlyRate">Hourly Rate</label>
                <input class="form-control" id="hourlyRate" type="number" formControlName="hourlyRate" required>
            </div>
            &nbsp;
            <div class="form-group">
                <label for="maxHoursPerDay">Max Hours Per-Day</label>
                <input class="form-control" id="maxHoursPerDay" type="number" formControlName="maxHoursPerDay" required>
            </div>
            &nbsp;
            <div class="form-group">
                <button type="submit" class="btn btn-success">Create</button>
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="closeForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>